@charset "UTF-8";
@import "variables";

img[alt="PHPTask"] {
  width: 0 !important;
  height: 0 !important;
  background: $image;
  padding: 25px 75px;
}

.hidden {
  color: transparent;

  &:hover {
    color: transparent;
  }

  &:hover::before {
    text-decoration: $hoverDecoration;
  }

  &::before {
    color: $normalLinkColor;
  }
}

@each $selector in $allSelectors {
  $i: index($allSelectors, $selector);

  a[href="#{$selector}"] {
    @extend .hidden;

    &::before {
      content: nth($allTexts, $i);
    }
  }
}
