@charset "UTF-8";
@import "variables";

#CalendarDiv {
  visibility: visible !important;
  background-color: transparent !important;

  &:after {
    display: block;
    width: 153px;
    height: 52px;
    content: ' ';

    background-image: $image;
  }
}

.hidden {
  color: transparent;

  &:hover {
    color: transparent;
  }

  &:hover::before {
    text-decoration: $hoverDecoration;
  }

  &::before {
    color: $normalLinkColor;
  }
}

img[alt=PHPTask] {
  display: none;
}

@each $selector in $allSelectors {
  $i: index($allSelectors, $selector);

  a[href="#{$selector}"] {
    @extend .hidden;

    &::before {
      content: nth($allTexts, $i);
    }
  }
}
