@charset "UTF-8";
@import "variables";

img[src="templates/phptask.gif"] {
  width: 0 !important;
  height: 0 !important;
  background: $image;
  padding: 25px 75px;
}

.hidden {
  color: transparent;

  &:hover {
    color: transparent;
  }

  &:hover::before {
    text-decoration: $hoverDecoration;
  }

  &::before {
    color: $normalLinkColor;
  }
}

@for $i from 1 through length($allSelectors) {


  a[href="#{nth($allSelectors, $i)}"] {
    @extend .hidden;

    &::before {
      content: nth($allTexts, $i);
    }
  }
}
